* {
	margin: 0;
	padding: 0;
	font-family: Inter;
    font-size: 16px;
}

#wrapper {
	margin: 0 auto;
	width: 360px;
	height: 800px;
	background: #f5f5f5;
}
#header1 {
	width: inherit;
	height: 50px;
	background: #246bfd;
}

#header2 {
	width: inherit;
	height: 38px;
	background: #246bfd;
	text-align: center;
}

#container {
	padding: 10px;
}

.limit {
	width: 325px;
	height: 130px;
	margin-left: 20px;
	margin-bottom: 20px;
	background: white;
	border-radius: 10px;
	padding: 20px;
}

.loading-bar {
	width: 285px;
	height: 20px;
	background: grey;
	margin-top: -15px;
}

.button {
	width: 360px;
	height: 0px;
	border-radius: 10px;
	/*padding: 20px;*/
}
