* {
	margin: 0;
	padding: 0;
	font-family: Inter;
    font-size: 16px;
}

#wrapper {
	margin: 0 auto;
	width: 360px;
	height: 800px;
	background: #f5f5f5;
	border-radius: 20px;
}
#header1 {
	width: inherit;
	height: 50px;
	background: #246bfd;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

#header2 {
	width: inherit;
	height: 75px;
	background: #246bfd;
	text-align: center;
}

#container {
	padding: 20px;
}

#information {
	width: inherit;
	height: 60px;
	background: #246bfd;
	text-align: center;
	border-radius: 10px;
	margin-bottom: 10px;
}

#list {
	border-top: 1px solid #EEEBE3;
    border-bottom: 1px solid #EEEBE3;
	width: inherit;
	height: 57px;
	text-align: center;
}

.cursor img {
	margin-bottom: 300px;
}