* {
	margin: 0;
	padding: 0;
	font-family: Inter;
    font-size: 16px;
}

#wrapper {
	margin: 0 auto;
	width: 360px;
	height: 800px;
	background: #246bfd;
	border-radius: 20px;
}

#header {
	width: inherit;
	height: 180px;
	background: #246bfd;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

#container {
	padding: 20px;
}

.container img {
    margin-left: -8px;
}

#input-pin {
	width: inherit;
	height: 100px;
    margin-top: -80px;
}

#num-pad {
	width: inherit;
	height: 300px;
    margin-top: 145px;
}

.fit-button {
    width: 3px;
}

#footer {
	margin-top: 10px;
	text-align: center;
}